<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link type="text/css" rel="stylesheet" href="/assets/B4W/Projects/{{ page.ProjectName }}/{{ page.ProjectName }}.min.css">
    {% if page.jQuery %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="/assets/B4W/Libs/b4w.min.js"></script>
    <script type="text/javascript" src="/assets/B4W/Projects/{{ page.ProjectName }}/{{ page.ProjectName }}.min.js"></script>
  </head>
  <body>
    <div id="main_canvas_container"></div>
    {{ content }}
  </body>
</html>
